In [35]:
import pandas as pd
import duckdb

In [36]:
con = duckdb.connect('iid_return_comment')

In [37]:
df = con.execute("SELECT * FROM iid_return_reasons_with_sentiment").df()

In [38]:
df.describe()

,ORDER_DATE,SKU,SALES_QTY,RETURN_QTY,GROSS,RETURN_DATE,MAX(RR.F_ID),MAX(RR.Q_D2C_RTRN_REASONCODE_ID),MAX(RR.Q_D2C_RET_REASON),Q_CLS_ID,...,Pos_mean_p,Neg_mean_p,Total_sentiment_p,Sentiment 1_c,Sentiment 2_c,Sentiment 3_c,Sentiment 4_c,Pos_mean_c,Neg_mean_c,Total_sentiment_c
count,2029137,2.029137e+06,2.029137e+06,2.029137e+06,2.029137e+06,441225,440529.0,440529.0,440529.0,1881819.0,...,30.0,30.0,30.000000,30.0,30.0,30.0,30.0,30.0,30.000000,30.000000
mean,2023-12-23 12:58:47.112834,8.094631e+07,1.049283e+00,2.207889e-01,8.329977e+01,2024-04-04 12:39:01.102810,10.823628,54705237.40825,209.432802,8041301.519203,...,0.266667,1.666667,2.033333,2.266667,0.233333,0.233333,0.066667,0.333333,1.005556,2.322222
min,2022-06-01 00:03:45,1.631000e+04,1.000000e+00,0.000000e+00,0.000000e+00,2022-06-03 10:46:29,2.0,27000004.0,0.0,1.0,...,0.0,0.0,1.000000,1.0,0.0,0.0,0.0,0.0,0.000000,1.000000
25%,2023-03-26 15:21:01,7.658606e+07,1.000000e+00,0.000000e+00,3.200000e+01,2023-09-04 12:32:08,2.0,55201087.0,28.0,1400012.0,...,0.0,2.0,2.000000,2.0,0.0,0.0,0.0,0.0,0.000000,2.000000
50%,2023-12-08 21:04:46,8.368451e+07,1.000000e+00,0.000000e+00,6.000000e+01,2024-03-21 15:04:01,2.0,55201137.0,28.0,2900003.0,...,0.0,2.0,2.000000,2.0,0.0,0.0,0.0,0.0,1.000000,2.000000
75%,2024-10-10 13:17:16,9.003153e+07,1.000000e+00,0.000000e+00,1.080000e+02,2025-01-05 15:28:48,14.0,55201137.0,53.0,4200002.0,...,0.0,2.0,2.000000,3.0,0.0,0.0,0.0,0.0,2.000000,3.000000
max,2025-07-11 03:50:12,1.039728e+08,1.499400e+02,2.800000e+01,1.118400e+04,2025-07-11 05:10:04,44.0,55202283.0,999.0,54900189.0,...,4.0,2.0,4.000000,5.0,3.0,5.0,2.0,5.0,2.000000,5.000000
std,NaN,1.385072e+07,4.214671e-01,4.298578e-01,1.045584e+02,NaN,11.011507,3207234.9511,365.257534,13380220.393127,...,1.014833,0.660895,0.583227,0.944433,0.727932,0.971431,0.365148,1.268541,0.903890,0.887259

In [39]:
con.close()

In [40]:
# Connect to DuckDB and load the combined analysis data
con = duckdb.connect('iid_return_comment')

# First check if combined file exists
import os
if os.path.exists("combined_product_customer_analysis.csv"):
    # Load the combined CSV
    combined_df = pd.read_csv("combined_product_customer_analysis.csv")
    print(f"Columns in the combined CSV: {combined_df.columns.tolist()}")
    
    # Check if return_comment column exists and is not duplicated
    return_comment_cols = [col for col in combined_df.columns if 'return_comment' in col.lower()]
    print(f"Return comment columns: {return_comment_cols}")
    
    # Display sample rows
    if len(combined_df) > 0:
        print("\nSample data:")
        display(combined_df.head(3))
else:
    print("Combined analysis CSV file not found.")

# Close the connection
con.close()

Columns in the combined CSV: ['row_id', 'RETURN_COMMENT_p', 'Theme 1_p', 'Sentiment 1_p', 'Theme 2_p', 'Sentiment 2_p', 'Theme 3_p', 'Sentiment 3_p', 'Theme 4_p', 'Sentiment 4_p', 'Pos_mean_p', 'Neg_mean_p', 'Total_sentiment_p', 'RETURN_COMMENT_c', 'Theme 1_c', 'Sentiment 1_c', 'Theme 2_c', 'Sentiment 2_c', 'Theme 3_c', 'Sentiment 3_c', 'Theme 4_c', 'Sentiment 4_c', 'Pos_mean_c', 'Neg_mean_c', 'Total_sentiment_c']
Return comment columns: ['RETURN_COMMENT_p', 'RETURN_COMMENT_c']

Sample data:

,row_id,RETURN_COMMENT_p,Theme 1_p,Sentiment 1_p,Theme 2_p,Sentiment 2_p,Theme 3_p,Sentiment 3_p,Theme 4_p,Sentiment 4_p,...,Sentiment 1_c,Theme 2_c,Sentiment 2_c,Theme 3_c,Sentiment 3_c,Theme 4_c,Sentiment 4_c,Pos_mean_c,Neg_mean_c,Total_sentiment_c
0,1551603,i dont like,General dislike,2,NaN,0,NaN,0,NaN,0,...,2,NaN,0,NaN,0,NaN,0,0,2.0,2.0
1,613483,Not worth price,Value perception,2,NaN,0,NaN,0,NaN,0,...,2,NaN,0,NaN,0,NaN,0,0,2.0,2.0
2,470565,It is weird around the waist,Fit around waist,2,NaN,0,NaN,0,NaN,0,...,2,NaN,0,NaN,0,NaN,0,0,2.0,2.0